<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Steam_TM_helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Steam_TM_helper.Properties.Settings>
            <setting name="Currency_Type" serializeAs="String">
                <value>руб.</value>
            </setting>
            <setting name="SteamID" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="sRealSteam64ID" serializeAs="String">
                <value />
            </setting>
        </Steam_TM_helper.Properties.Settings>
    </userSettings>
</configuration>